<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta th:replace="~{fragment/head :: headFrag('게시물 상세 정보')}"/>
    <meta th:replace="~{fragment/head :: styleFrag}"/>
</head>
<body class="text-center">
<div class="form" th:object="${postDetailDto}">
    <input type="hidden" th:field="*{postId}" th:value="*{postId}">
    <h2 th:text="*{title}">Title</h2>
    <div class="text-start" style="width: max-content">
        <div th:utext="*{#strings.replace(content,'&#10;','&lt;br&gt;')}">content</div>
    </div>
    <br/>
    <hr/>
    <div th:each="question, questionStat : *{questions}">
        <h3 th:text="|Q${questionStat.count}|"></h3>
        <div th:text="${question}"></div>
        <br/>
    </div>
    <button class="w-50 btn btn-primary btn-sm" th:onclick="|location.href='@{/admin/post/edit/{postId}(postId=*{postId})}'|">수정하기</button>
    <br/><br/>
    <button class="w-50 btn btn-warning btn-sm" onclick="location.href='/admin/post/list'">뒤로가기</button>

</div>
</body>
</html>